<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DebitListServlet</servlet-name>
        <servlet-class>controllers.DebitListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebtsListServlet</servlet-name>
        <servlet-class>controllers.DebtsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDebtorServlet</servlet-name>
        <servlet-class>controllers.AddDebtorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDebtServlet</servlet-name>
        <servlet-class>controllers.GetDebtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDebtorServlet</servlet-name>
        <servlet-class>controllers.UpdateDebtorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebtDetailsListServlet</servlet-name>
        <servlet-class>controllers.DebtDetailsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtsListServlet</servlet-name>
        <url-pattern>/DebtsListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDebtorServlet</servlet-name>
        <url-pattern>/adddebtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDebtServlet</servlet-name>
        <url-pattern>/getDebt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDebtorServlet</servlet-name>
        <url-pattern>/updatedebtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtDetailsListServlet</servlet-name>
        <url-pattern>/DebtDetailsListServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CheckAccountNameServlet</servlet-name>
        <servlet-class>controllers.CheckAccountNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCaptchaServlet</servlet-name>
        <servlet-class>controllers.CheckCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAuthServlet</servlet-name>
        <servlet-class>controllers.CheckAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controllers.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckAccountNameServlet</servlet-name>
        <url-pattern>/checkAccountName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCaptchaServlet</servlet-name>
        <url-pattern>/checkCaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAuthServlet</servlet-name>
        <url-pattern>/checkauth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>controllers.UpdateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>security.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JspFilter</filter-name>
        <filter-class>security.JspFilter</filter-class>
    </filter>
        <filter-mapping>
        <filter-name>JspFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
        <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
</web-app>
