/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 3, 2023, 10:51:54 AM
    Author     : ASUS
*/
body{
    background-position: center;
    background-color: rgba(180, 93, 93, 0.849);
    background-repeat: no-repeat;
    background-size: cover;
    color: #505050;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none;
}
.background-image{
     
   
  background-image: url('../../img/forgotPassword.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.main{
/*    background-color: rgba(190, 169, 169, 0.849);*/
 border-color: #6a85b6;
  background-color: rgba (217, 91, 92, 1);
    border-radius: 20px;
}
.card{
border-radius: 15px;
 background-color: #D98484;
}


